@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --home-bg: #f7f0e0;
  --vscode-bg: #ddd8bb;
  --projects-bg: #d2d8da;
  --skills-bg: #eef2e3;
  --contact-bg: #d0e2f1;
}
/* red: d8909c */
/* yolk: ffba08 */
